#main{
    border: 1px solid #e7e7e7;
    border-radius: 1px;
    background: #fff;
}

#form{
    display: none;
}

.main > button {
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
    color: blue;
    outline: none;
}

/* .main > button:hover{
    padding: 0px;
    border: none;
    background: none;
} */